<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120213895-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-120213895-1');
  </script>
  <meta charset="utf-8">
  <meta name="description" content="Highly experienced Web Developer.">
  <meta name="keywords" content="HTML,HTML5,CSS,Bootstrap,JavaScript,Java,jQuery,GitHub,LinkedIn,Developer,Front-End,Full-Stack,">
  <meta name="author" content="Vikas Bhavsar">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
  <!-- Custom Script -->
  <script src="/public/javascripts/script.js"></script>
  <!-- Title -->
  <title>Vikas Bhavsar - Web Developer</title>
</head>

<body id="top">
  <ul class="nav justify-content-center fixed-top">
    <li class="nav-item">
      <a class="nav-link" href="https://www.linkedin.com/in/vikasbhvsr" target="_blank">
        <i class="fab fa-2x fa-linkedin"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/vikasbhvsr" target="_blank">
        <i class="fab fa-2x fa-github"></i>
      </a>
    </li>
  </ul>

  <div class="jumbotron jumbotron-fluid d-flex align-items-center">
    <div class="container text-center">
      <h1 class="display-2 animated pulse">
        Vikas Bhavsar
      </h1>
      <p class="display-5">
        <i class="fas fa-code"></i> Web Developer / Front-End Developer
      </p>
      <p class="display-5">
        <a href="mailto:vikasbhvsr@gmail.com" id="email">
          <i class="fas fa-envelope"></i> vikasbhvsr@gmail.com</a>
      </p>
      <p class="display-5">
        <i class="fas fa-phone fa-rotate-90"></i> (805) 758-4019
      </p>
      <a class="btn btn-outline-warning" href="./files/vikas_cv_07242018.pdf" target="_blank" role="button">Download CV</a>

      <hr class="animated zoomIn">
      <p>I am a Web Developer / Front-End Developer. I believe in simple design.</p>
      <code><kbd>var</kbd><span class="motto"> motto </span>= <span class="motto-text">"creating and innovating is my passion";</span></code>
      <br>
      <br>
      <a class="btn btn-outline-danger" id="work" href="#contact">Contact Me</a>
    </div>
  </div>

  <div class="container">
    <p class="lead font-weight-bold">Education</p>

    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p class="head-title">California State University, Northridge</p>
        <p class="head-subtitle">Bachelor of Science, Computer Science</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <p class="timeline">December 2013</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p class="head-title">Ventura College</p>
        <p class="head-subtitle">General Education</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <p class="timeline">May 2010</p>
      </div>
    </div>
  </div>

  <hr class="animated zoomIn line">

  <div class="container">
    <p class="lead font-weight-bold">Experience</p>
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p class="head-title">Constellation Audio</p>
        <p class="head-subtitle">Web Developer</p>
        <p class="description">Worked on developing web resposnive websites for the company using Bootstrap, HTML, CSS. Experience translating wireframes
          into web templates. Managed and updated content on company website using Drupal CMS.</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <p class="timeline">January 2015 - Present</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <p class="head-title">Alcatel-Lucent</p>
        <p class="head-subtitle">Web Developer</p>
        <p class="description">It was great honor to learn and learn about CMS for fresh out of graduate. Updated and maintained company website
          to ensure product information was current and accurate using in-house CMS. Later, migrated content from Oracle
          to Drupal CMS while troubleshooting server issues. Fixed bugs based on the priority.</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <p class="timeline">Feburary 2013 - December 2014</p>
      </div>
    </div>
  </div>

  <hr class="animated zoomIn line">

  <div class="container">
    <p class="lead font-weight-bold">Skills</p>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <i class="fab fa-6x fa-html5"></i>
        <i class="fab fa-6x fa-css3-alt"></i>
        <i class="fab fa-6x fa-js-square"></i>
        <i class="fab fa-6x fa-node"></i>
        <i class="fab fa-6x fa-vuejs"></i>
        <i class="fab fa-6x fa-java"></i>
        <i class="fab fa-6x fa-drupal"></i>
        <i class="fab fa-6x fa-wordpress-simple"></i>
        <i class="fab fa-6x fa-php"></i>
      </div>
    </div>
  </div>

  <hr class="animated zoomIn line">

  <div class="container" data-aos="slide-right">

    <p class="lead font-weight-bold">
      <a id="contact">Contact</a>
    </p>
    <form action="mailto:vikasbhvsr@gmail.com" method="POST">
      <div class="form-group row">
        <label for="company" class="col-sm-3 col-form-label">Company Name
          <span class="star">*</span>
        </label>
        <div class="col-sm-9">
          <input name="company-name" type="text" class="form-control" placeholder="ABC Inc." required>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Your Name
          <span class="star">*</span>
        </label>
        <div class="col-sm-9">
          <input name="name" type="text" class="form-control" placeholder="John Doe" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email
          <span class="star">*</span>
        </label>
        <div class="col-sm-9">
          <input name="email" type="email" class="form-control" placeholder="john@doe.com" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="describe" class="col-sm-3 col-form-label">Please describe your requirements
          <span class="star">*</span>
        </label>
        <div class="col-sm-9">
          <textarea name="message" class="form-control" placeholder="Please leave a detailed message..." rows="8" required></textarea>
        </div>
      </div>
      <div class="float-right">
        <button class="btn btn-outline-primary" type="reset">Reset</button>
        <button class="btn btn-outline-danger" type="submit">Submit</button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div class="back-to-top">
    <a href="#top">
      <i class="fas fa-2x fa-chevron-circle-up"></i>
      <br>
    </a>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="text-center py-3">
        &copy; 2018 Vikas Bhavsar
      </div>
    </div>
  </footer>
</body>
<script>
  // Smooth Scroll Return To top
  $(window).bind("scroll", function () {
    if ($(this).scrollTop() > 100) {
      $(".back-to-top").fadeIn(400);
    } else {
      $('.back-to-top').fadeOut(400);
    }
  });
  $('.back-to-top').click(function () {
    $('html, body').animate({ scrollTop: '0px' }, 1000);
  });

  // Smooth Scroll to Contact Me
  $('#work').click(function () {
    const contact = $('#contact').position().top;
    $('html, body').animate({
      scrollTop: contact
    },
      1000
    );
  });

</script>

</html>