<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120213895-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-120213895-1");
    </script>
  <!-- Meta Tags -->
  <meta charset="utf-8" />
  <meta name="description" content="Vikas Bhavsar's portfolio website. An experienced Web Developer." />
  <meta name="author" content="Vikas Bhavsar" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous" />
  <!-- Font Awesome CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous" />
  <!-- DevIcons -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" />
  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="./stylesheets/main.css" />
  <title>Vikas Bhavsar - Web Developer</title>
</head>

<body>
  <nav class="navbar">
    <ul class="nav-links">
      <li>
        <a href="#">
          <img class="round-img animated zoomIn" src="/images/profile.jpeg" alt="profile" />
        </a>
      </li>
      <li><a class="active" href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#interests">Interests</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <section id="about" class="main">
    <div class="animated fadeInDown">
      <h1 class="heading">Vikas <span class="blue-color">Bhavsar</span></h1>
      <h2 class="sub-heading">
        (805) 758-4019 &#x25cf;
        <a href="mailto:vikasbhvsr@gmail.com">vikasbhvsr@gmail.com</a>
      </h2>
      <p>
        I am experienced in leveraging agile frameworks to provide a robust
        synopsis for high level overviews. Iterative approaches to corporate
        strategy foster collaborative thinking to further the overall value
        proposition.
      </p>
      <div class="social">
        <a href="/files/vikas_cv_07242018.pdf">
          <i class="fas fa-file-pdf"></i>
        </a>
        <a href="https://www.github.com/vikasbhvsr">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/vikasbhvsr">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.facebook.com/vikasbhvsr">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com/vikasbhvsr">
          <i class="fab fa-twitter"></i>
        </a>
      </div>

      <a href="https://academy.yoast.com/certificate/3820/334871/6206570899b869b581ba9e43b09aae11/1" target="_blank"><img
          src="https://academy.yoast.com/badge/3820/334871/6206570899b869b581ba9e43b09aae11/1" width="200" alt="Vikas Bhavsar successfully completed the Site structure course!" /></a>

      <a href="https://academy.yoast.com/certificate/1851/334871/fa66ea13b293c5e8ac37b4c971d2dd69/1" target="_blank"><img
          src="https://academy.yoast.com/badge/1851/334871/fa66ea13b293c5e8ac37b4c971d2dd69/1" width="200" alt="Vikas Bhavsar successfully completed the Yoast SEO for WordPress (classic editor) course!" /></a>
    </div>
  </section>

  <section id="experience" class="experience">
    <div class="hidden">
      <h1 class="title">Experience</h1>
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <p class="sub-title">Web Developer | Constellation Audio</p>
          <p class="description">
            Worked on developing web resposnive websites for the company using
            Bootstrap, HTML, CSS. Experience translating wireframes into web
            templates. Managed and updated content on company website using
            Drupal CMS.
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <p class="timeline">January 2015 - Present</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <p class="sub-title">Web Developer | Alcatel-Lucent</p>
          <p class="description">
            It was great honor to learn and learn about CMS for fresh out of
            graduate. Updated and maintained company website to ensure product
            information was current and accurate using in-house CMS. Later,
            migrated content from Oracle to Drupal CMS while troubleshooting
            server issues. Fixed bugs based on the priority.
          </p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <p class="timeline">Feburary 2013 - December 2014</p>
        </div>
      </div>
    </div>
  </section>

  <section id="education" class="education">
    <div class="hidden">
      <h1 class="title">Education</h1>
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <p class="sub-title">California State University, Northridge</p>
          <p class="head-subtitle">Bachelor of Science, Computer Science</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <p class="timeline">December 2013</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <p class="sub-title">Ventura College</p>
          <p class="head-subtitle">General Education</p>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
          <p class="timeline">May 2010</p>
        </div>
      </div>
    </div>
  </section>

  <section id="skills" class="skills">
    <div class="hidden">
      <h1 class="title">Skills</h1>
      <h2 class="sub-title">Programming Languages & Tools</h2>
      <ul class="icons-list">
        <li><i class="devicon-bootstrap-plain"></i></li>
        <li><i class="devicon-css3-plain"></i></li>
        <li><i class="devicon-express-original"></i></li>
        <li><i class="devicon-git-plain"></i></li>
        <li><i class="devicon-gulp-plain"></i></li>
        <li><i class="devicon-html5-plain"></i></li>
        <li><i class="devicon-illustrator-plain"></i></li>
        <li><i class="devicon-javascript-plain"></i></li>
        <li><i class="devicon-jquery-plain"></i></li>
        <li><i class="devicon-mysql-plain"></i></li>
        <li><i class="devicon-nodejs-plain"></i></li>
        <li><i class="devicon-photoshop-plain"></i></li>
        <li><i class="devicon-sass-original"></i></li>
        <li><i class="devicon-visualstudio-plain"></i></li>
        <li><i class="devicon-wordpress-plain"></i></li>
      </ul>
      <h2 class="sub-title">Workflow</h2>
      <ul class="workflow">
        <li>&#x2714; Mobile-First, Responsive Design</li>
        <li>&#x2714; Cross Browser Testing & Debugging</li>
        <li>&#x2714; Cross Functional Teams</li>
        <li>&#x2714; Agile Development & Scrum</li>
      </ul>
    </div>
  </section>

  <section id="interests" class="interests">
    <div class="hidden">
      <h1 class="title">Interests</h1>
      <p class="sub-title">Get to know me</p>

      <p>
        Apart from being a web developer, I enjoy most of my time being
        outdoors hiking or traveling. Being living in California with great
        hiking trails and beach within reach, I make sure that I also get some
        form of excerise in and spend quality time with the family.
      </p>
      <p>
        When forced indoors, I catch up on my never-ending list of movies and
        TV shows. I am social animal so I like to invite friends and show off
        my cooking skills. I spend a large amount of my free time exploring
        the latest technolgy advancements in the front-end web development
        world. Career is important too, right?
      </p>
    </div>
  </section>

  <section id="contact" class="contact">
    <div class="hidden">
      <h1 class="title">Contact</h1>
      <form id="contactForm">
        <div class="alert">Your message has been sent.</div>
        <div class="form-group row">
          <label for="company" class="col-sm-3 col-form-label">Company Name <span class="star">*</span>
          </label>
          <div class="col-sm-9">
            <input name="company-name" type="text" class="form-control" placeholder="ABC Inc." autocomplete="organization"
              id="company" required />
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Your Name <span class="star">*</span>
          </label>
          <div class="col-sm-9">
            <input name="name" type="text" class="form-control" placeholder="John Doe" autocomplete="organization" id="name"
              required />
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-3 col-form-label">Email <span class="star">*</span>
          </label>
          <div class="col-sm-9">
            <input name="email" type="email" class="form-control" placeholder="john@doe.com" autocomplete="organization"
              id="email" required />
          </div>
        </div>
        <div class="form-group row">
          <label for="describe" class="col-sm-3 col-form-label">Please describe your requirements <span class="star">*</span>
          </label>
          <div class="col-sm-9">
            <textarea name="message" class="form-control" placeholder="Please leave a detailed message..." rows="8"
              autocomplete="organization" id="message" required></textarea>
          </div>
        </div>
        <div class="float-right">
          <button class="btn btn-secondary" type="reset">Reset</button>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>

  <script>
    // ScrollSpy

    (function () {
      "use strict";

      var section = document.querySelectorAll("section");
      var sections = {};
      var i = 0;

      Array.prototype.forEach.call(section, function (e) {
        sections[e.id] = e.offsetTop;
      });

      window.onscroll = function () {
        var scrollPosition =
          document.documentElement.scrollTop || document.body.scrollTop;

        for (i in sections) {
          if (sections[i] <= scrollPosition) {
            document.querySelector(".active").setAttribute("class", " ");
            document
              .querySelector("a[href*=" + i + "]")
              .setAttribute("class", "active");
          }
        }
      };
    })();
  </script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
  <!-- Custom JS -->
  <script src="/javascripts/script.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>