body {
background-color: white;
}
.nav {
  background-color: white;
  border-bottom: 2px #0d47a1 solid;
}
.nav-link :hover {
  border-bottom: 2px black solid;
}
.jumbotron {
  background-color: #0d47a1;
  color: white;
  height: 100vh;
  }
.jumbotron .display-2 {
  font-weight: bold;
}
.trans-grow{
  transition: width 1s  ease-out;
  width : 0%;
  background: white;
}
.grow{
  width:100%;
}
#email {
  text-decoration: none;
  color: white;
}
code {
  font-size: 20px;
}
.motto-text {
  color: white;
}
.motto {
  color: rgb(226, 226, 122);
}
.head-title {
  font-size: 2rem;
  color: #0d47a1;
}
.head-subtitle {
  font-size: 1rem;
  font-style: italic;
}
.timeline {
  font-size: 1rem;
  text-align: bottom;
}
.fab {
  color: #0d47a1;
}
.footer {
  background-color: #0d47a1;
  color: white;
}
.back-to-top {
  position: fixed;
  bottom: 85px;
  right: 35px;
  width: auto;
  height: 35px;
}
.back-to-top i {
  color: #0d47a1;
}
.star {
  color: darkred;
}
.lead{
  letter-spacing: 0.1em;
}
hr {
  border: 0.5px solid white;
}
.line {
  border: 0.5px lightgray solid;
}