/* ##### HTML REST START ##### */

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ##### HTML RESET END ##### */

/* ##### ANIMATE ON SCROLL START ##### */

.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(.8, .8)
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  animation: fade-in 1.0s;
}

/* ##### ANIMATE ON SCROLL END ##### */

/* ##### NAVBAR START ##### */

.navbar {
  display: flex;
  flex-direction: column;
  float: left;
  background-color: #3F51B5;
  height: 100vh;
  width: 25vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
}

.round-img {
  border: 0.5rem rgba(255, 255, 255, 0.2) solid;
  border-radius: 50%;
  width: 11rem;
  height: 11rem;
}

.nav-links {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.nav-links li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem 0;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li a:hover {
  color: darkgray;
  transition: all 0.3s ease-in;
}

.navbar .nav-links .active {
  color: darkgray;
  transition: all 0.3s ease-in;
}

/* ##### NAVBAR END ##### */

/* ##### UNIVERSAL SECTION SETTINGS START ##### */

section {
  display: flex;
  flex-direction: column;
  float: right;
  width: 75vw;
  height: auto;
  color: white;
}

/* ##### UNIVERSAL CONTENT SETTINGS END ##### */

/* ##### LANDING PAGE START ##### */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgoldenrod;
  padding: 0 3rem;
  height: 100vh;
}

.heading {
  font-size: 5rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.blue-color {
  color: #3F51B5;
}

.sub-heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.sub-heading a {
  text-decoration: none;
  color: white;
}

.main p {
  margin: 3rem 0;
}

.main .social a {
  margin-right: 1rem;
  font-size: 2rem;
  color: white;
}

.main .social a:hover {
  text-decoration: none;
  color: #3F51B5;
  transition: 0.3s ease-in;
}

/* ##### LANDING PAGE END ##### */

/* ##### EXPERIENCE PAGE START ##### */

.title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
  color: #3F51B5;
}

.sub-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
  color: darkgray;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  height: 100vh;
  background-color: #004D40;
}

/* ##### EXPERIENCE PAGE END ##### */

/* ##### EDUCATION PAGE START ##### */

.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  height: 100vh;
  background-color: #E65100;
}

.head-subtitle {
  font-style: italic;
}

/* ##### EDUCATION PAGE END ##### */

/* ##### SKILLS PAGE START ##### */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  height: 100vh;
  background-color: #880e4f;
}

.skills .icons-list {
  padding: 0;
}

.skills .icons-list li {
  list-style: none;
  display: inline;
  font-size: 2rem;
  margin-right: 1rem;
}

.skills .icons-list li:hover {
  color: #3F51B5;
  transition: 0.3s ease-in;
}

.skills .workflow {
  list-style: none;
  padding: 0;
}

/* ##### SKILLS PAGE END ##### */

/* ##### INTERESTS PAGE START ##### */

.interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  height: 100vh;
  background-color: #4A148C;
}

/* ##### INTERESTS PAGE END ##### */

/* ##### CONTACT PAGE START ##### */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  height: 100vh;
  background-color: rgb(57, 22, 66);
}

.star {
  color: maroon;
}

/* ##### CONTACT PAGE END ##### */

.alert {
  text-align: center;
  background: green;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  section {
    width: 100vw;
    padding: 2rem 2rem !important;
  }
  .main {
    height: auto;
    text-align: center;
  }
  .heading {
    font-size: 3rem;
  }
  .sub-heading {
    font-size: 0.8rem;
  }
  .main p {
    margin: 2rem 0;
  }
  .main .social a {
    font-size: 1.5rem;
  }
  .title {
    text-align: center;
    font-size: 2.0rem;
  }
  .sub-title {
    font-size: 0.8rem;
    letter-spacing: 0;
  }
  .experience {
    height: auto;
  }
  .education {
    height: auto;
  }
  .skills {
    height: auto;
  }
  .skills .icons-list li {
    margin-right: 1.5rem;
  }
  .interests {
    height: auto;
  }
  .contact {
    height: auto;
  }
}