body {
background-color: lightgray;
}

#nav {
  background-color: white;
  border-bottom: 1px #0d47a1 solid;
}

#icon:hover {
  padding-bottom: 5px;
  border-bottom: 2px black solid;
}

.jumbotron {
  padding-top: 60px;
  background-color: #0d47a1;
  color: white;
  height: 100vh; 
}

.display-2 {
  font-weight: bold;
}

.trans-grow{
  transition: width 1s  ease-out;
  width : 0%;
  background: white;
}

.grow{
  width:100%;
}

#email {
  text-decoration: none;
  color: white;
}

code {
  font-size: 20px;
}

.motto-text {
  color: white;
}

.motto {
  color: rgb(226, 226, 122);
}

.head-title {
  font-size: 2rem;
  color: #0d47a1;
}

.head-subtitle {
  font-size: 1rem;
  font-style: italic;
}

.timeline {
  font-size: 1rem;
  text-align: bottom;
}

.fab {
  color: #0d47a1;
}

.footer {
  background-color: #0d47a1;
  color: white;
}

#return-to-top {
  position: fixed;
  bottom: 85px;
  right: 35px;
  width: 35px;
  height: 35px;
}
#return-to-top i {
  color: #0d47a1;
}

.asser {
  color: darkred;
}